uvicorn[standard]
joblib==1.1.0
torch>=1.9.0
Pillow==8.2.0
fastapi==0.68.1

pandas==1.3.0
matplotlib==3.4.3
scikit-learn==0.24.2
requests==2.26.0
haversine==2.5.1
seaborn==0.11.1
neattext==0.1.2
gitpython>=3.1.30
python-multipart
numpy>=1.18.5
opencv-python>=4.1.1

psutil
PyYAML>=5.3.1

scipy>=1.4.1
thop>=0.1.1

torchvision>=0.8.1
tqdm>=4.64.0
ultralytics>=8.0.111


setuptools>=65.5.1
